@charset "utf-8";
@import '../../common/utils.less';

@width: 95%;
.editor {
    .middle(@width: 800px, @height: 650px, @test: false);
    padding: 10px
}

.editor-input {
    width: @width !important
}

.textarea {
    width: @width !important;
    min-height: 450px
}

.sub-btn {
    float: right
}

.editor-textarea {
    resize: none;
    min-height: 450px !important
    // .test()
}